video{
  background-color : black;
}
#controle{
  width : 640px;
  background-color : black;
  text-align : center;
  padding: 5px 0;
  color: white;
}
#controle button{
  border-radius : 10px;
  vertical-align : middle;
}
#controle input{
  border-radius : 10px;
  vertical-align : middle;
}